<div data-mdb-toast-init class="toast fade mx-auto position-fixed top-0 end-0"
     id="success-toast"
     role="alert"
     aria-live="assertive"
     aria-atomic="true"
     data-mdb-autohide="true"
     data-mdb-delay="2000"
     data-mdb-append-to-body="true"
     data-mdb-stacking="true"
     data-mdb-width="350px"
     data-mdb-color="success">
    <div class="toast-header text-white">
        <strong class="me-auto">MDBootstrap</strong>
        <small>@DateTime.Now.ToString("HH:mm")</small>
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn-close btn-close-white" data-mdb-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-white" id="success-toast-message"></div>
</div>
