
.product-rating {
    font-weight: bold;
    font-size: 18px; /* Adjust font size as needed */
    color: #333; /* Adjust color as needed */
    margin-right: 5px; /* Adjust spacing as needed */
}

.rating-container {
    display: flex;
    align-items: center;
}

.rating {
    display: flex;
    flex-direction: row-reverse; /* Reversed to align stars from right to left */
    justify-content: center;
    margin-right: 10px; /* Adjust spacing between stars and rating numbers */
}

    .rating > input {
        display: none;
    }

    .rating > label {
        position: relative;
        width: 1em;
        font-size: 30px;
        font-weight: 300;
        color: #FFD600;
        cursor: pointer;
    }

        .rating > label::before {
            content: "\2605";
            position: absolute;
            opacity: 0;
        }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before {
            opacity: 1 !important;
        }

    .rating > input:checked ~ label:before {
        opacity: 1;
    }

    .rating:hover > input:checked ~ label:before {
        opacity: 0.4;
    }
