@*@model RentaVex.Web.ViewModels.Administration.Dashboard.IndexViewModel*@ 
@model RentaVex.Web.ViewModels.Home.IndexViewModel; 
@{
    this.ViewData["Name"] = "Admin dashboard";
}

<h1>@this.ViewData["Name"]</h1>