@using RentaVex.Data.Models;

@using RentaVex.Web.ViewModels.Products;
@model CreateProducViewModel;

@{
    this.ViewData["Name"] = "Add Product";
}

<div class="container">
    <form method="post" class="col-md-6 col-12 offset-md-3" enctype="multipart/form-data">
        <h1>@this.ViewData["Name"]</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Images">Images*</label>
            <input asp-for="Images" type="file" class="form-control" multiple />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <label asp-for="Name">Name*</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <label asp-for="Description">Description*</label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>


        <div class="form-group mt-2">
            <label asp-for="IsForRent">Is it for rent?</label>
            <input asp-for="IsForRent" type="checkbox" />
            <span asp-validation-for="IsForRent" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" type="number" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <label asp-for="Location">Location*</label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <label asp-for="Contact">Contact</label>
            <input asp-for="Contact" class="form-control" />
            <span asp-validation-for="Contact" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <label asp-for="CategoryId">Category*</label>
            <select asp-for="CategoryId" class="form-control" asp-items="@Model.Categories.Select(x => new SelectListItem(x.Value, x.Key))">
                <option value="">Select Category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="CourierDelivery">Courier Delivery?</label>
            <input asp-for="CourierDelivery" type="checkbox" />
            <span asp-validation-for="CourierDelivery" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Condition">Condition*</label>
            <select asp-for="Condition" asp-items="Html.GetEnumSelectList<ConditionType>()" class="form-control">
                <option value="">Select Condition</option>
            </select>
            <span asp-validation-for="Condition" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="IsWarned">Are there any warnings?</label>
            <input asp-for="IsWarned" type="checkbox" id="isWarnedCheckbox" />
            <span asp-validation-for="IsWarned" class="text-danger"></span>
        </div>

        <div class="form-group mt-2" id="warningMessageGroup" style="display:none;">
            <label asp-for="WarningMessage">Warning Message</label>
            <textarea asp-for="WarningMessage" class="form-control" rows="5"></textarea>
            <span asp-validation-for="WarningMessage" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <input type="submit" class="btn btn-primary btn-block" style="width: 100%" />
        </div>
    </form>
</div>


@section Scripts {
    <script src="~/js/WarningMessage.js"></script>
}