@model RentaVex.Web.ViewModels.Settings.SettingsListViewModel

@{
    this.ViewData["Name"] = "Settings";
}

<h1>@this.ViewData["Name"]</h1>

@foreach (var setting in this.Model.Settings)
{
    <div>@setting.Id: @setting.NameAndValue</div>
}

<a asp-action="InsertSetting" class="btn btn-primary">Insert new</a>
