@section Styles {
}


@{
    this.ViewData["Name"] = "Liked";
}

<p>Here are all liked products!</p>

@* @if (Model.Products.Count() >= 1)
{
    <partial name="_PagingPartial" model="@Model"></partial>
} *@