@using RentaVex.Web.ViewModels.User;

@model MyProductsViewModel;

@{
    this.ViewData["Name"] = "My Products";
}

<p>Welcome to your products!</p>

<partial name="_PagingPartial" model="@Model"></partial>