@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Rendering
@inject IHttpContextAccessor HttpContextAccessor
@using RentaVex.Common
@using RentaVex.Services.Data
@using RentaVex.Web.ViewModels.User
@model MyProductsViewModel

@{
    string pageName = GlobalService.GetPageName(HttpContextAccessor.HttpContext);
    ViewData["Name"] = pageName;
}

<link href="~/css/store.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100 position-relative">
                    <img src="@product.ImageUrl" class="card-img-top" alt="Product Image">

                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>

                        <p class="card-description">
                            @{
                                string description = product.Description.Length > 140 ? product.Description.Substring(0, 140) + "..." : product.Description;
                            }
                            @description
                        </p>
                        <div class="price-container">
                            <p class="card-price">$@product.Price</p>
                        </div>
                    </div>

                    <div class="card-footer">
                        <a asp-controller="User" asp-action="EditProduct" asp-route-id="@product.Id" class="btn btn-primary btn-block">
                            Edit Product
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<partial name="_PagingPartial" model="@Model"></partial>


@* TODO *@
@* Change it to "Edit Product Info" *@

@* @section Scripts {
    <script>
        // JavaScript handle btn
        $('.like-button').click(function () {
            var productId = $(this).data('product-id');
            $.post('/Products/LikeProduct', { productId: productId }, function (data) {
                $(this).css('color', 'red');
            });
        });
    </script>
} *@
